* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.flex {
  display: flex;
}

.side-container {
  width: 200px;
  height: calc(100vh - 100px);
  float: left;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
}

.side-container::after {
  display: table;
  content: "";
  clear: both;
}

/* MENU SIDE XS con Display None*/

.menu-side-xs {
  display: none;
  width: 50px;
  flex-direction: column;
  align-items: center;
}

.menu-top-xs, .menu-bottom-xs {
  width: 50px;
  flex-direction: column;
  align-items: center;
}

.menu-side-xs .menu-top-xs img {
  width: 60%;
  margin-top: 10px
}

.menu-side-xs .menu-bottom-xs img {
  width: 40%;
}

.menu-bottom-xs .user-xs {
  background-color: #797979;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* FINE MENU SIDE xs */

.logo {
  height: 80px;
  background-color: #000;
}

.logo img {
  padding-left: 10px;
  width: 70%;
  height: 100%;
}

.side-menu {
  padding-left: 15px;
  padding-top: 2px;
  height: calc(100vh - 260px);
}

/* Menu TOP sidebar */

.side-top ul {
  list-style: none;
}

.side-top li {
  padding-top: 6px;
  font-size: 0.85em;
}

.side-top ul img {
  width: 22px;
  margin-right: 5px;
}

.side-top ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #797979;
}

.side-top ul li a:hover {
  color: #fff;
}

.side-top .name-menu {
  padding-top: 4px;
}

.side-center {
  flex-direction: column;
  height: calc(100% - 80px);
}

.side-center h3 {
  font-size: 0.8em;
  text-transform: uppercase;
  margin-top: 20px;
  color: #fff;
}

/* color white con HOVER*/

.side-center ul li a:hover {
  color: #fff;
}


/* Link CREA PLAYLIST */

.side-center .add-play a{
  display: flex;
  margin-top: 10px;
  align-items: center;
  text-decoration: none;
  color: #000;
}


.add-play .add-btn {
  background-color: #797979;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  font-size: 2.5em;
  margin-right: 8px;
}

.add-name-btn {
  font-size: 0.85em;
  color: #797979;
}

/* color white con HOVER*/

.side-center .add-play a:hover > span {
  color: #fff;
}

/* Sezione con link Nome Playlist*/

.side-center .playlist {
  overflow-y: auto;
  flex-direction: column;
}

.side-center .playlist ul {
  list-style: none;
}

.playlist ul li {
  margin-top: 12px;
}

.playlist ul li a {
  text-decoration: none;
  color: #797979;
  font-size: 0.85em;
}

/* SIDEBAR BOTTOM user e download */

.side-bottom {
  width: 200px;
  height: 80px;
  position: fixed;
  bottom: 100;
  left: 0;
  flex-direction: column;
  align-items: center;
  background-color: #000;
}

.side-bottom .installer {
  font-size: 0.8em;
  border-bottom: 1px solid #797979;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  width: 85%;
  color: #797979;
  align-items: center;
}

.side-bottom .installer img {
  width: 17px;
  margin-right: 6px;
}

.side-bottom .user {
  width: 85%;
  color: #fff;
  font-weight: 500;
  font-size: 0.9em;
  align-items: center;
}

.side-bottom .user img {
  width: 22px;
  background-color: #797979;
  border-radius: 50%;
  margin-right: 6px;
}

.side-bottom .installer:hover {
  color: #fff;
  cursor: pointer;
}

/* CONTAINER MAIN */

.main-container {
  background-color: #141922;
  height: calc(100vh - 100px);
  overflow-y: auto;
  padding-left: 200px;
}

/* RIGA BUTTON UPGRADE */

.head-container {
  position: fixed;
  width: calc(100% - 200px);
}

/* BUTTON UPGRADE */

.btn-upgrade {
  width: 100%;
  height: 80px;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.btn-upgrade a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 10px 35px;
  margin-right: 25px;
  font-size: 0.8em;
}

/* SCALE con Hover */

.btn-upgrade a:hover {
  transform: scale(1.2);
}

.main-content {
  padding-top: 80px;
  padding-bottom: 50px;
}

/* MENU MAIN */

.nav-main {
  text-align: center;
}

.nav-main ul {
  list-style: none;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
}

.nav-main ul li {
  display: inline-block;
  margin: 0 15px;
  padding-top: 20px;
  padding-bottom: 15px;
  position: relative;
}

.nav-main ul li a {
  text-decoration: none;
  color: #797979;
  position: relative;
  padding-bottom: 5px;
}

.nav-main ul li a:hover {
  color: #fff;
}

.nav-main ul li a.border-g::after {
  content: "";
  width: 45px;
  height: 2px;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* RIGHE BRANI */

.item-played {
  justify-content: center;
}

.center {
  width: 95%;
}
/* TITOLO RIGA */

.title-play {
  color: #fff;
  margin-top: 25px;
  margin-bottom: 25px;
}

.title-play .title-sub {
  font-size: 0.8em;
  margin-top: 10px;
  color: #7A7C81;
  font-weight: 600;
}

/* BRANI RIGA */

.item-row {
  flex-wrap: wrap;
  gap: 15px;
}

.item-row .item {
  min-width: 100px;
  max-width: calc(100% / 6 - 13px);
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.item-row .item img {
  max-width: 100%;
}

/* BORDER RADIUS applicato alle
  due img della terza riga */

.border-rad {
  border-radius: 50%;
}

/* NOME Brani */

.item .item-name {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 0.9em;
  font-weight: 600;
  color: #fff;
}

.item-sub {
  font-size: 0.7em;
  font-weight: 600;
  color: #7A7C81;
}

/* FOOTER */



.foot-container {
  background-color: #282828;
  height: 100px;
  width: 100%;
  position: relative;
  z-index: 900;
  justify-content: space-between;
}

/* FOOTER sezione SINISTRA */

.foot-container .foot-left {
  width: 250px;
  height: 100%;
  align-items: center;
}

/* img */

.foot-container .img-player {
  height: 50px;
  width: 50px;
  margin-left: 10px;
  margin-right: 15px;
}

.foot-container .img-player img {
  width: 50px;
}

/* nome brano */

.music-name {
  flex-direction: column;
  font-size: 0.7em;
  margin-right: 30px;
}

.music-name .artist {
  color: #fff;
  font-weight: 600;
}

.music-name .name-mus {
  color: #7A7C81;
  font-weight: 600;
}

/* color white con HOVER */

.music-name .name-mus:hover {
  text-decoration: underline;
  color: #fff;
  cursor: pointer;
}

/* icone */

.icon-music {
  color: #7A7C81;
}

.icon-music .fa-heart {
  margin-right: 10px;
}

/* color white con HOVER */

.icon-music .fa-heart:hover {
  color: #fff;
  cursor: pointer;
}

.icon-music .fa-folder:hover {
  color: #fff;
  cursor: pointer;
}

/* FOOTER sezione CENTRALE */

.foot-container .foot-center {
  width: 40%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Player TOP */

.player-top {
  align-items: center;
}

.foot-center .player-top i.fas {
  margin-left: 8px;
  margin-right: 8px;
  font-size: 1.2em;
  color: #fff;
  cursor: pointer;
}

.foot-center .player-top i.far {
  font-size: 1.8em;
  margin-left: 15px;
  margin-right: 15px;
  color: #fff;
  cursor: pointer;
}

.foot-center .player-top i.far:hover {
  transform: scale(1.2);
  cursor: pointer;
}

/* Player BOTTOM */

.player-bottom {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
}

.player-bottom .minutes {
  font-size: 0.6em;
  color: #fff;
  font-weight: 600;
}

.player-bottom .progress-bar {
  width: 60%;
  height: 5px;
  background-color: #5A5A5A;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 50px;
}

.progress-bar .white-progress {
  height: 100%;
  background-color: #fff;
  width: 80px;
  border-radius: 50px;
}

/* FOOTER Sezione DESTRA */

.foot-right {
  width: 250px;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.9em;
}

.foot-right .icon-right .fas {
  margin-left: 12px;
  color: #fff;
}

.foot-right .progress-bar-right {
  width: 30%;
  height: 5px;
  background-color: #5A5A5A;
  border-radius: 50px;
  margin-right: 10px;
  margin-left: 12px;
}

.progress-bar-right .white-progress-r {
  height: 100%;
  background-color: #fff;
  width: 20px;
  border-radius: 50px;
}



/* MEDIA QUERIES */

/* X-SMALL */
@media screen and (max-width: 575px) {
  
  .menu-side-xs {
    display: flex;
    height: 100%;
    justify-content: space-between;
  }

  /* SIDEBAR */
  .side-container {
    width: 50px;
  }

  .side-container .logo {
    display: none;
  }

  .side-top, .side-center {
    display: none;
  }

  .side-bottom .installer, .user {
    display: none;
  }
  .side-bottom {
    width: 50px;
  }

  /* MAIN */
  .main-container {
    padding-left: 50px;
    display: flex;
  }

  .center {
    width: 90%;
  }

  /* SEZIONE BUTTON UPGRADE */
  .head-container {
    width: calc(100% - 50px);
  }

  /* SEZIONE CENTRALE BRANI */
 
  .item-row .item {
    max-width: calc(100% / 2 - 8px);
  }

  /* SIDEBAR */

  .icon-music .fa-heart {
    padding-bottom: 8px;
  }

  .foot-right .icon-right .fas {
    margin-left: 4px;
  }
  .foot-right .progress-bar-right {
    margin-left: 4px;
  }

}

/* SMALL */

@media screen and (min-width: 576px) and (max-width: 767px) {
 
  .item-row .item {
    max-width: calc(100% / 2 - 8px);
  }

  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .item-row {
    width: 100%;
    gap: 15px;
  }

  .title-play {
    width: 100%;
  }

  .icon-music .fa-heart {
    padding-bottom: 8px;
  }

}

/* MEDIUM */

@media screen and (min-width: 768px) and (max-width: 991px) {
 
  .center {
    display: flex;
    flex-direction: column;
  }

  .item-row .item {
  max-width: calc(100% / 4 - 12px);
  }

  .item-row {
    padding-left: 0;
    width: 90%;
    gap: 15px;
  }

  .title-play {
    padding-left: 0px;
    width: 90%;
  }

}